body {
    background-color: #1E1E1E;
    color: white;

}

.nav {
background-image: url("./pic/joshua-sukoff-Tz1qBS5Gpw0-unsplash.jpg");
background-repeat: no-repeat;
background-size: cover;
background-position: right,top;
margin: 20px 20px 2px 20px;
padding-bottom: 20px;
font-weight: bold;
}

.membership {
    background-color: #ff3300;
    width: 180px;
    border-radius: 30px;
    font-size: 10px;
    padding: 10px;
}

.modify {
    margin-left: 15px;
    padding-right: 0px;
}

.days, .member, .book  {
    width: 26px;
    height: 26px;
}

.bar {
    display: flex;
    align-content: center;
    gap: 50px;
    

}