body {
    
    background-color: #1E1E1E;
    color: white;
    font-weight: bold;}

.nav {
background-image: url("./pic/joshua-sukoff-Tz1qBS5Gpw0-unsplash.jpg");
background-repeat: no-repeat;
background-size: cover;
background-position: right,top;
padding-bottom: 20px;
font-weight: bold;
}
.navs {
    width: 500px;
    height: 250px;
    margin-left: 50px;
    padding-bottom: 100px;
    padding-top: 0px;
    margin-top: 0px;
}

.membership {
    background-color: #ff3300;
    width: 180px;
    border-radius: 30px;
    font-size: 10px;
    padding: 10px;
}

.modify {
    margin-left: 15px;
    padding-right: 0px;
}

.days, .member, .book  {
    width: 20px;
    height: 20px;
    margin-bottom: -5pxpx;
  }

.bar {
    display: flex;
     gap: 50px;
    margin-left: 50px;
    
 }

 .smaller {
    font-size: 10px;
    
 }
 
 .text {
    margin-top: 11px;
    }

 .section {
    background-color: rgba(31, 35, 39, 1);
    display: flex;
    gap: 50px;
    }

 .img {
   margin-left: 50px;
   margin-top: 100px;
   margin-bottom: 20px;
 }
 
 img {
    width: 300px;
    height: 200px;
    padding-left: 0px;
 }

h4 {
    margin-top: -20px;
 }

 h6 {
    padding-top: 100px;
 }

  ul {
    font-size: 10px;
    line-height: 20px;
    list-style: none;
}

.entity {
    margin-right: 5px;
}

.section2{
    background-color: rgba(25, 28, 31, 1);
    display: flexbox;
}
